---
import { Icon } from "astro-icon/components";

import Card from "./Card.astro";
import Text from "./Text.astro";
import Link from "./Link.astro";

import { mediaSosial } from "@/constants";
---

<footer class="container">
  <Card
    title="SMP Plus Mabdaul Huda"
    className="flex flex-col gap-6"
    content="JL. R.E. Sulaiman Kp. Kebon Kopi RT 02 RW 08, Puspasari Kec. Citeureup, Kab. Bogor Jawa Barat 16810"
  >
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15857.243821201535!2d106.8759804!3d-6.4822461!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69c0481e4c0615%3A0x928af55ce6f4550d!2sSMP%20Plus%20Mabdaul%20Huda!5e0!3m2!1sen!2sid!4v1710549589533!5m2!1sen!2sid"
      class="rounded-xl"
      width="100%"
      height="200"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>

    <div class="flex flex-col gap-3">
      <div class="flex gap-2">
        {
          mediaSosial.map((media) => (
            <Link
              size="icon"
              variant="secondaryForeground"
              rel="noopener noreferrer"
              href={media.url}
              target="_blank"
              className="flex gap-2 items-center"
            >
              <Icon name={media.icon} size={20} />
            </Link>
          ))
        }
      </div>
      <Text className="text-sm" color="secondaryForeground">
        &copy; 2016 - {new Date().getFullYear()} Kita. All Rights Reserved.
      </Text>
    </div>
  </Card>
</footer>
