---
import "@/styles/globals.css";

import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="SMP Plus Mabdaul Huda memadukan Konsep Pendidikan Nasional (DIKNAS) dan Pendidikan Pesantren Modern, sebagai solusi pendidikan ADAB dan KARAKTER di Indonesia yang mamasuki era Millenial."
    />
    <meta
      name="keywords"
      content="SMP Plus Mabdaul Huda, SMP Plus, Mabdaul Huda, SMP, Plus, Mabdaul, Huda, SMP Mabdaul Huda, Mabdaul Huda, Pesatuan Islam, Persis, Pesantren, Modern, Pesantren Modern, Pesantren Modern, Citeureup, Puspasari, Citeureup, Bogor, Jawa Barat, Indonesia, Pendidikan, Pendidikan Nasional, Pendidikan Pesantren, Pendidikan Pesantren Modern, Pendidikan ADAB, Pendidikan Karakter, Pendidikan Islam"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="logo.png" sizes="16x16 32x32" type="image/png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="pb-12 relative max-w-5xl mx-auto flex flex-col gap-12">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
